{% extends 'app/main.html' %}
{% block content %}

<div class="row">
<div class="col-md text-center">
    <div class="title"><h3>{{radioitem.radio_name}}</h3></div>
    <div><img src="{{radioitem.radio_img.url}}" alt=""></div>

    <div><audio controls>
    <!-- <source src="{{radioitem.radio_link}}" type="audio/ogg"> -->
    <source src="{{radioitem.radio_link}}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio></div>    

</div>
</div>

{% endblock content %}